.card-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 18rem;
    margin-top: 2rem;
    z-index: -2;
  }
  
  .card {
    margin: 20px;
    border: 2px solid #ededed;
    padding: 20px;
    cursor: pointer;
  }
  
  .card-img {
    width: 13rem;
    margin-bottom: 1rem;
  }
  
  .card-title {
    margin-bottom: 1rem;
  }
  
  .card-reviews {
    margin-bottom: 1rem;
    display: flex;
  }
  
  /* .rating-star {
    color: #d5ab55;
  } */
  
  .total-reviews {
    font-size: 0.9rem;
    margin-left: 10px;
  }
  
  .card-price-rating, .card-addCart-voir {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .add-cart {
    background-color: var(--primary-color);
    color: var(--light-color);
  }

  .text-add-to-cart{
    margin-left: 5px;
  }
  /* Add these styles to your CSS file */
.rating-star {
  color: var(--primary-color); /* Gold color for filled stars */
}

.rating-star-empty {
  color: #ccc; /* Gray color for empty stars */
}

/* Custom Modal Children CSS */
.close-modal-icon {
  float: right;
  font-size: 24px;
  color: var(--primary-color);
}
.modal-product {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.modal-product-details {
  text-align: left;
}

.modal-price {
  margin: 8px 0;
}

.cart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; 

}

.cart-quantity {
  height: 30px;
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.quantity {
  border: none;
  text-align: center;
  width: 30px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
  border: 1px solid var(--primary-color);
  display: inline-block;
  max-width: 30px; /* Add this to prevent the quantity from being bigger than the buttons */
  overflow: hidden; /* Add this to hide any excess content */
}

.quantity-btn {
  border: 1px solid var(--primary-color);
  width: 30px;
  background-color: var(--primary-color);
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  color: var(--light-color);
}

.add-cart.disabled, .quantity-btn.disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

button:focus {
  outline: 0;
}


.veg, .non-veg {
  margin: 10px;
}
.badge-bg {
  background-color: #572300;
  text-transform: capitalize;
}

.badge-country{
  background-color:#222f9f;
}

/* avatar on Comment */
.comment  {
  margin-bottom: 20px;
}
.comment-profile {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
  flex-direction: column;
}

.comment-profile img {
  border-radius: 50%;
  width: 40px;
}

.comment-author, .comment-date {
  font-size: 0.7rem;
  color: gray
}